.right {
    background-repeat: no-repeat;
    background-image: url("../../../assets/introImager.png");
}


.left {
    background-repeat: no-repeat;
    background-image: url("../../../assets/introImage2.png");
}
